#########################################################################################################################################################                                                                     
#########################################################################################################################################################                                         
#       ___      .______     .___________. __   __       __       _______ .______     ____    ____                                                      #
#      /   \     |   _  \    |           ||  | |  |     |  |     |   ____||   _  \    \   \  /   /                                                      #
#     /  ^  \    |  |_)  |   `---|  |----`|  | |  |     |  |     |  |__   |  |_)  |    \   \/   /                                                       #
#    /  /_\  \   |      /        |  |     |  | |  |     |  |     |   __|  |      /      \_    _/                                                        #
#   /  _____  \  |  |\  \----.   |  |     |  | |  `----.|  `----.|  |____ |  |\  \----.   |  |                                                          #
#  /__/     \__\ | _| `._____|   |__|     |__| |_______||_______||_______|| _| `._____|   |__|                                                          #
#                                                                                                                                                       #
#       _______. __   _______   ___________    __    ____  __  .__   __.  _______   _______ .______         ___   ___  ___                              #
#      /       ||  | |       \ |   ____\   \  /  \  /   / |  | |  \ |  | |       \ |   ____||   _  \        \  \ /  / |__ \                             #
#     |   (----`|  | |  .--.  ||  |__   \   \/    \/   /  |  | |   \|  | |  .--.  ||  |__   |  |_)  |        \  V  /     ) |                            #
#      \   \    |  | |  |  |  ||   __|   \            /   |  | |  . `  | |  |  |  ||   __|  |      /          >   <     / /                             #
#  .----)   |   |  | |  '--'  ||  |____   \    /\    /    |  | |  |\   | |  '--'  ||  |____ |  |\  \----.    /  .  \   / /_                             #
#  |_______/    |__| |_______/ |_______|   \__/  \__/     |__| |__| \__| |_______/ |_______|| _| `._____|   /__/ \__\ |____|                            #
#                                                                                                                                                       #
#                                                                                                                                                       # 
#########################################################################################################################################################
#                                                                                                                                                       # 
#  FICHIER CONFIGURATION IMPRIMANTE : Led_Extrudeur_On_Off.cfg                                                                                          #
#                                                                                                                                                       # 
#  Version 1.3   30/07/20203                                                                                                                            # 
#                                                                                                                                                       # 
#  Offert par Papy 3D's Factory  25/05/2023                                                                                                             #
#                                                                                                                                                       # 
#########################################################################################################################################################

######################################################################
# Macro ALLUMER ETEINDRE LA LED EXTRUDEUR                            #
######################################################################

[gcode_macro LED_ON]
description: Allume la LED extrudeur en BLANC
gcode:
  SET_LED LED=extruder RED=1 GREEN=1 BLUE=1 WHITE=1 transmit=1

[gcode_macro LED_OFF]
description: Etteind la LED extrudeur
gcode:
  SET_LED LED=extruder RED=0 GREEN=0 BLUE=0 WHITE=0 transmit=1

[gcode_macro LED_CHOIX_COULEUR]
description: Allume la led de la couleur choisie
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    
    SET_LED LED=extruder red={red} green={green} blue={blue} white={white} transmit=1