#########################################################################################################################################################                                                                     
#########################################################################################################################################################                                         
#       ___      .______     .___________. __   __       __       _______ .______     ____    ____                                                      #
#      /   \     |   _  \    |           ||  | |  |     |  |     |   ____||   _  \    \   \  /   /                                                      #
#     /  ^  \    |  |_)  |   `---|  |----`|  | |  |     |  |     |  |__   |  |_)  |    \   \/   /                                                       #
#    /  /_\  \   |      /        |  |     |  | |  |     |  |     |   __|  |      /      \_    _/                                                        #
#   /  _____  \  |  |\  \----.   |  |     |  | |  `----.|  `----.|  |____ |  |\  \----.   |  |                                                          #
#  /__/     \__\ | _| `._____|   |__|     |__| |_______||_______||_______|| _| `._____|   |__|                                                          #
#                                                                                                                                                       #
#       _______. __   _______   ___________    __    ____  __  .__   __.  _______   _______ .______         ___   ___  ___                              #
#      /       ||  | |       \ |   ____\   \  /  \  /   / |  | |  \ |  | |       \ |   ____||   _  \        \  \ /  / |__ \                             #
#     |   (----`|  | |  .--.  ||  |__   \   \/    \/   /  |  | |   \|  | |  .--.  ||  |__   |  |_)  |        \  V  /     ) |                            #
#      \   \    |  | |  |  |  ||   __|   \            /   |  | |  . `  | |  |  |  ||   __|  |      /          >   <     / /                             #
#  .----)   |   |  | |  '--'  ||  |____   \    /\    /    |  | |  |\   | |  '--'  ||  |____ |  |\  \----.    /  .  \   / /_                             #
#  |_______/    |__| |_______/ |_______|   \__/  \__/     |__| |__| \__| |_______/ |_______|| _| `._____|   /__/ \__\ |____|                            #
#                                                                                                                                                       #
#                                                                                                                                                       # 
#########################################################################################################################################################
#                                                                                                                                                       # 
#  FICHIER CONFIGURATION IMPRIMANTE : Load_Unload_filament.cfg                                                                                          #
#                                                                                                                                                       # 
#  Version 1.3   30/07/20203                                                                                                                            # 
#                                                                                                                                                       # 
#  Offert par Papy 3D's Factory  25/05/2023                                                                                                             #
#                                                                                                                                                       # 
#########################################################################################################################################################

######################################################################
# Macro Chargement Dechargement manuel du filament                   #
######################################################################

[gcode_macro LOAD_FILAMENT]
gcode:
 {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E150 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-150 F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state
	